#root {
    display: flex;
    min-height: 100%;
}

.todo {
    padding: 30px;
}

.todo-list {
    padding: 0;
}

.todo-item {
    list-style: none;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid blue;
}

.todo-item-body {
    display: inline-block; 
    width: 80%;
}

.title {
    color: aqua;
    font-size: 28px;
    font-family: Georgia, serif;
}

.description {
    position: relative;
    word-wrap: break-word;
    max-width: 450px;
}

.remove-button {
    display: inline-block; 
    position: relative;
    background-color: red;
    border: none;
}

.checked {
    color: palevioletred;
}

.remove-button:hover {
    background-color: palevioletred;
    color: black;
    border: none;
}

.todo-form {
    justify-content: space-between;
}

.todo-form > div:last-child {
    margin-right: 0;
}

.todo-form input {
    min-width: 200px;
}